* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  user-select: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 16px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.btn-primary {
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  border: 1px solid #e0e0e0;
  transition: all 500ms ease-in-out;
  font-size: 14px;
}

.btn-primary:hover {
  color: white;
  background-color: black;
}

.btn-secondary {
  color: white;
  padding: 14px;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
  font-size: 14px;
  background-color: black;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.btn-secondary:hover {
  opacity: 65%;
}

.blog-sec {
  padding-block: 100px;
}

.blog-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.blog-card {
  width: 100%;
}

.blog-sec .blog-wrap :nth-child(2) {
  grid-column: 2/4;
}

.blog-title {
  text-align: center;
  font-size: 80px;
  margin-bottom: 48px;
  max-width: 600px;
  line-height: 1;
  margin-inline: auto;
  font-weight: 600;
}

.blog-card-image-wrapper {
  width: 100%;
  height: 305px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-bottom: 8px;
}

.blog-card-image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top;
  transition: all 500ms ease-in-out;
}

.blog-card-image-wrapper:hover img {
  transform: scale(1.08);
}

.blog-tag-wrap {
  position: absolute;
  inset: 1rem auto auto 1rem;
  border-radius: 6px;
  background-color: white;
  height: 27px;
  overflow: hidden;
}

.label-icone-content {
  position: absolute;
  inset: auto auto 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 8px;
  background-color: #0000004d;
  border-radius: 6px;
}

.blog-card-meta {
  font-size: 12px;
  color: black;
  font-weight: 100;
  margin-bottom: 8px;
  display: inline-block;
}

.blog-cardtitle {
  font-size: 18px;
  line-height: 1.4;
  color: black;
  max-width: 470px;
  margin-bottom: 8px;
  font-weight: 500;
}

.card-label-img {
  width: 16px;
  height: 16px;
}

.card-label-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(103deg) brightness(102%) contrast(105%);
}

.blog-card-label {
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.text-swap {
  padding: 6px 12px;
  transition: all 500ms ease-in-out;
}

.blog-tag {
  font-size: 12px;
  transition: all 500ms ease-in-out;
  color: black;
}

.blog-tag {
  margin-bottom: 10px;
}

.blog-card-image-wrapper:hover .text-swap {
  transform: translateY(-40%);
}

.card-meta-wrap {
  display: flex;
  gap: 10px;
}

.blog-card a {
  text-decoration: none;
}

/* blog-categories */

.blog-categories-sec {
  padding-bottom: 50px;
}

.blog-categories-wrap {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(6, 1fr);
}

.categories-block {
  height: 182px;
  border-radius: 12px;
  overflow: hidden;
}

.categories-block img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2);
  transition: all 400ms ease-in-out;
}

.categories-block:hover img {
  transform: scale(1);
}

.categories-block {
  position: relative;
}

.categories-content {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  transition: all 500ms ease-in-out;
}

.categories-content:hover {
  background-color: transparent;
}

.categories-title {
  display: block;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  transition: all 500ms ease-in-out;
  padding-bottom: 10px;
}

.categories-block:hover .categories-title {
  color: white;
}

.categories-swiper {
  width: 100%;
  height: 14px;
  overflow: hidden;
}

.categories-title-wrap {
  transition: all 300ms ease-in-out;
}

.categories-block:hover .categories-title-wrap {
  transform: translateY(-46%);
}

/* blog-wrapper */

.blog-wrapper {
  padding-block: 50px;
}

.blog-wrapper .blog-title {
  margin: 0;
  max-width: 100%;
  font-size: 60px;
}

.fresh-blog-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.blog-wrapper .blog-wrap :first-child {
  grid-column: 1/3;
}

.blog-wrapper .blog-wrap :last-child {
  grid-column: 3/5;
}

/* newsletter sec */

.newsletter-sec {
  padding-block: 50px;
}

.newsletter-blog {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.newsletter-title {
  font-size: 48px;
  text-align: center;
  max-width: 660px;
  line-height: 1;
  font-weight: 600;
  color: black;
}

.newsletter-sec .richtext p {
  color: black;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.newsletter-sec form {
  width: 100%;
  max-width: 450px;
  position: relative;
}

.newsletter-sec input[type="email"] {
  width: 100%;
  height: 54px;
  border: 0;
  outline: none;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 0 6px 2px -4px #0000001a;
  padding: 8px 12px;
  padding-right: 120px;
}

.newsletter-sec input[type="button"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.newsletter-sec input[type="email"]::placeholder {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

/* tow-col-sec */

.tow-col-sec {
  padding-block: 50px;
}

.flex-wrap {
  display: flex;
  gap: 100px;
  align-items: center;
}

.col-block {
  width: 100%;
}

.col-img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.col-title {
  font-size: 48px;
  line-height: 1;
  max-width: 470px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
}

.tow-col-sec .richtext p {
  font-size: 16px;
  max-width: 424px;
  color: black;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* blog-image-scroller */

.scroller-slider {
  margin-top: 20px;
}

.blog-thumb-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 154px;
}

.blog-thumb-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.image-scroller-icone {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.237);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.scroller-icone {
  width: 30px;
  height: 30px;
}

.scroller-icone img {
  width: 100%;
  height: 100%;
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(632%)
    hue-rotate(160deg) brightness(113%) contrast(100%);
  display: block;
  object-fit: cover;
  object-position: center;
}

.blog-thumb-card:hover .image-scroller-icone {
  opacity: 1;
}
